extends layout

block content
  h1="Message Board"
  each item in messages
    div(class="container")
      div= `${item.text}`
      div(class="username")=item.user
      div(class="date")=item.added.toLocaleDateString("en-GB")